.pagination {
  display: inline-block;
}

.logo {
    padding: 10px;

}

h1,h2,h3,h4,h5,h6,legend{
    font-family:"Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif;
    font-weight:700;
    color: #093e74;
}

#nav-top span.glyphicon {
  color: #176eaf;
  font-size: 28px;
}


#sidebar header{
    color:#176eaf;
}

#sidebar h2{
    
    background-color:steelblue;
}

#sidebar{
    background: #093e74;
}

#sidebar a{
    color: #fcfcfc;
}

#postamble{
    background:#176eaf;
    border-top:solid 0px;
}

#content {
    min-height: 95%;
    height: 95%;
}

#footer {
    height: 5%;
    min-height: 5%;
    margin-left: 300px;
                
}
