.Renviron
orderly.sqlite
data/
archive/
draft/
.Rproj.user
scratch.R
.Rhistory
.Rdata
*~
.orderly_go
*.rds
orderly_envir.yml
*.sqlite
.DS_Store
*.png
*gadm36*
*.R#
.orderly/*
metadata/*
src/produce_full_report/jquery.easyPaginate-master/

src/produce_full_report/produce_full_report_files/

backup/db/

*.tiff

*.pdf

aws.sh
