.pagination {
  display: inline-block;
}

.imperiallogo {
    padding: 10px 5px 8px 5px;
    height: 82px;
    width: 267px;

}

.sussexlogo {
    padding: 10px 3px 10px 0px;
    height: 82px;
    width: 82px;
}

h1,h2,h3,h4,h5,h6,legend{
    font-family:"Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif;
    font-weight:700;
    color: #093e74;
}

#nav-top span.glyphicon {
  color: #176eaf;
  font-size: 28px;
}


#sidebar header{
    color:#176eaf;
}

#sidebar h2{
    
    background-color:steelblue;
}

#sidebar{
    background: #093e74;
    height: 92%;
    top: 70px;
    width: 350px;
                
}

#sidebar a{
    color: #fcfcfc;
}

#postamble{
    background:#176eaf;
    border-top:solid 0px;
    width: 350px;    
}

#content {
    min-height: 80%;
    height: 80%;
    margin-left: 350px;
}

#header2 {
    height: 70px;
    width: 100%;
    background-color: #edf0f2;
    position: fixed;
}

#header {
    display: none;
}


#title {
 
    font-family: "Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif;
    font-weight: 700;
    color: white;
     height: 100%; 
    /* min-height: 80px; */
    /* clear: both; */
    float: left;
    width: 900px;
    /* margin-left: 50px; */
    padding-left: 20px;
    padding-top: 10px;
    font-size: 180%;
    text-align: left;
    background-color: #093e74;    
}

#footer {
    height: 5%;
    min-height: 5%;
    margin-left:300px;
                
}

#main {
    margin-top: 70px;
}
